.forms {
  width: 50%;
  margin: auto;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 700px;
}

.forms form {
  display: flex;
  flex-direction: column;
}

.forms form label {
  margin-bottom: 10px;
}

.forms form label input {
  height: 20px;
  margin-left: 5px;
}

.forms form input[type="submit"] {
  margin-top: 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  width: 100px;
}

.forms form input[type="submit"]:hover {
  background-color: darkblue;
}
