/* Navbar.module.css */

.navbar {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #333;
  bottom: 0px;
  position: fixed;
  top: 74px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  margin-bottom: 10px;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Add a class for the active link */
.navbar a.active {
  color: #fff;
  background-color: #007bff;
}

.navbar a:hover {
  color: #fff;
  background-color: #007bff;
}
